<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="full-height standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="padding-0px-15px bg-blue height-50px" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="85" fxLayoutAlign="start center" [fxShow]="true">
        <p class="color-w poppins no-margin">
          Step 2 of 2</p>
      </div>
      <div class="poppins color-w">
        Cancel</div>
    </div>
    <div fxLayout="column wrap" class="box-shadow-grey padding-0px-15px bg-white height-30" fxLayoutAlign="start stretch" [fxShow]="true">
      <h2 class="text-center poppins no-margin">
        Activation Code</h2>
      <p class="poppins">
        Enter the activation code below</p>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="code-input" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field class="text-center full-width" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="*" [required]="false">

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" class="code-input" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field class="text-center full-width" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="*" [required]="false">

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" class="code-input" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field class="code-input text-center full-width" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="*" [required]="false">

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" class="code-input" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field class="code-input text-center full-width" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="*" [required]="false">

          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>