<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="full-height standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="bg-blue" fxLayoutAlign="start center" [fxShow]="true"><mat-icon class="margin-left-12px color-w">arrow_back</mat-icon>
      <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="start center" [fxShow]="true">
        <div class="poppins color-w">
          Activate App</div>
      </div>
    </div>
    <div fxLayout="column wrap" class="box-shadow-grey height-40 bg-white" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="column wrap" class="small-pic-size" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="./Web/Images/phone.PNG" class="full-height full-width"></div>
        <div class="text-center poppins">
          Activate the app on your phone in 2 steps.</div>
      </div>
      <div fxLayout="column wrap" class="margin-left-12px" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="poppins">
          <b>Next you will:</b>
        </div>
        <div class="poppins">
          <ul class="no-margin padding-left-25px">
            <li>Confirm your identity with a selfie</li>
            <li>Verify your email address</li>
          </ul>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" class="padding-0px-15px margin-top-16px get-started-btn" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="color-w" (click)="route()">Continue</button></div>
    <div fxLayout="row wrap" class="margin-top-20px" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" style="width: 250px; height: 100px" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/homeAffairs.png" class="full-height full-width"></div>
    </div>
  </div>
</div>