<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="full-height standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="height-90" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="box-shadow-grey bg-white height-45" fxLayoutAlign="end center" [fxShow]="true">
        <div fxLayout="column wrap" class="pic-size" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/activate.PNG" class="full-height full-width"></div>
        <h3 class="poppins">
          Activate New App</h3>
        <p class="margin-b-10px text-center poppins grey-color no-margin">
          You will no longer be able touse your previously installed app once you finish activating this app. </p>
      </div>
      <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="padding-0px-15px get-started-btn" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button routerLink="/app_activation_instructions" class="color-w">Confirm</button></div>
        <div fxLayout="column wrap" class="padding-0px-15px blue-border-btn" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="color-b">Cancel</button></div>
      </div>
    </div>
    <div fxLayout="column wrap" style="height: 10%" fxLayoutAlign="end stretch" [fxShow]="true"><small class="poppins text-center x-small">
        Capitec Bank is an authorised financial services provider(FSP 46668) and registered credit provider(NCRCP13). Capitec Bank Limited Reg No. 1980/003695/06</small></div>
  </div>
</div>