<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="full-height standard-width" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="height-30" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" class="square-70px bg-green round" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="color-w">check</mat-icon></div>
      <p class="no-margin poppins">
        Successful</p>
    </div>
  </div>
</div>