<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="full-height standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="height-90" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="relative height-150px" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/Hello1.PNG" class="full-height full-width"><mat-icon class="left-top-10px color-w absolute">arrow_back</mat-icon></div>
      <form #accForm="ngForm">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput [(ngModel)]="page.accNo.accNo" name="accNo" [required]="true">
            <mat-label>Savings account number</mat-label> <mat-icon matSuffix (click)="openInfo()">info</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="column wrap" class="padding-0px-15px margin-top-20px get-started-btn" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="color-w" (click)="accNumber(accForm)">Continue</button></div>
      </form>
    </div>
    <div fxLayout="column wrap" style="height: 10%" class="x-small" fxLayoutAlign="start stretch" [fxShow]="true"><small class="poppins text-center">
        Capitec Bank is an authorised financial services provider(FSP 46668) and registered credit provider(NCRCP13). Capitec Bank Limited Reg No. 1980/003695/06</small></div>
  </div>
</div>