<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:60px;" class="bg-red" fxLayoutGap="37%" fxLayoutAlign="start center" [fxShow]="true"><mat-icon style="font-size: xx-large; padding-left: 6px;" class="color-w" routerLink="/logged_in_landing/explore">arrow_back</mat-icon>
        <h3 class="poppins color-w">
          Credit</h3>
      </div>
    </div><mat-tab-group mat-align-tabs="start" mat-stretch-tabs class="credit"><mat-tab label="Products">
        <div fxLayout="column wrap" class="box-shadow-grey bg-white" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/Images/credit1.PNG"></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <h4 style="color:black;" class="text-center">
              Start building credit</h4>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <p style="color:black;" class="text-center">
              When you take out a credit product, you will see it listed here</p>
          </div>
        </div>
        <div fxLayout="column wrap" class="padding-0px-15px margin-top-16px get-started-btn" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button routerLink="/logged_in_landing/get_estimate" class="color-w">Get Estimate</button></div>
      </mat-tab><mat-tab style="background-color:#dd211f;" label="Get Credit">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <h3 style="margin-bottom:10px;" class="padding-left">
              Choose a product</h3>
            <p class="no-margin padding-left">
              Get a solution up to R500 000 to suit your financial needs</p>
          </div>
          <div fxLayout="row wrap" style="height:90px;margin:8px;border-radius:5px; border-bottom:1px solid lightgrey;" class="box-shadow-grey bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/blue-card.PNG" class="full-width"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <h3 class="no-margin">
                    Credit card</h3>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <p style="margin-top:0;">
                    Get interest rates based on prime<br>plus 1% cash back</p>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
            </div>
          </div>
          <div fxLayout="row wrap" style="height:90px;margin:8px;border-radius:5px; border-bottom:1px solid lightgrey;" class="box-shadow-grey bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/blue-lock.PNG" class="full-width"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <h3 class="no-margin">
                    Access facility</h3>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <p style="margin-top:0;">
                    Revolving credit, pay when you use it</p>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
            </div>
          </div>
          <div fxLayout="row wrap" style="height:90px;margin:8px;border-radius:5px; border-bottom:1px solid lightgrey;" class="box-shadow-grey bg-white" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/logged_in_landing/loan">
            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/blue-trend.PNG" class="full-width"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <h3 class="no-margin">
                    Loan</h3>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <p style="margin-top:0;">
                    Up to 84 months to pay, immediate</p>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
            </div>
          </div>
        </div>
      </mat-tab><mat-tab label="Rating"></mat-tab></mat-tab-group>
  </div>
</div>