<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="border-btm-cyan-b fixed-width z-index fixed padding-0px-15px height-50px bg-blue" fxLayoutAlign="center center" [fxShow]="true">
      <p class="no-margin poppins color-w">
        Explore</p>
    </div>
    <div fxLayout="column wrap" style="margin-top: 50px" class="tab-btn" fxLayoutAlign="start stretch" [fxShow]="true"><mat-tab-group mat-align-tabs="start"><mat-tab label="GlobalOne" class="hide-scrollbar full-height"><bh-long_card></bh-long_card></mat-tab><mat-tab label="Capitec Connect" class="hide-scrollbar">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" fxFill><img imgSrc="/Web/Images/construction.svg" style="    width: 96%"></div>
        </mat-tab><mat-tab label="Live Better"></mat-tab></mat-tab-group></div>
  </div>
</div>