<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:60px;" class="color-w bg-red" fxLayoutGap="37%" fxLayoutAlign="start center" [fxShow]="true"><mat-icon style="font-size: xx-large; padding-left: 6px;" class="white">arrow_back</mat-icon>
        <h3 class="white">
          Loan</h3>
      </div>
    </div><mat-tab-group mat-align-tabs="start" mat-stretch-tabs class="loan"><mat-tab label="Benefits">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" style="height:190px;" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/hug.jpg" class="full-height full-width"></div>
          <div fxLayout="column wrap" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-0px-15px" fxLayoutAlign="start stretch" [fxShow]="true">
              <h3 style="margin-top:10px;" class="no-margin">
                Get up to R500 000 over 84 months</h3>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <ul>
                  <li>Choose the amount you want, the lowest monthly instalment or the lowest interest rate</li>
                  <li>Pay fixed monthly repaymets and interest rates from 13.75%</li>
                  <li>Credit is approved in minutes and the money is available immediately</li>
                </ul>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" class="padding-0px-15px get-started-btn" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button routerLink="/get-estimate" class="color-w">Get Estimate</button></div>
        </div>
      </mat-tab><mat-tab label="Rates">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                <b>Loan Amount</b>
              </p>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                <b>Term</b>
              </p>
            </div>
            <div fxLayout="column wrap" style="padding-right:10px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                <b>Interest Rate</b>
              </p>
            </div>
          </div>
          <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                R25 000</p>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                12</p>
            </div>
            <div fxLayout="column wrap" style="padding-right:10px; background-color:#f2fafd;" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                13.45% - 29.25%</p>
            </div>
          </div>
          <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                R50 000</p>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                24</p>
            </div>
            <div fxLayout="column wrap" style="padding-right:10px;background-color:#f2fafd;" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                13-75% - 29.25%</p>
            </div>
          </div>
          <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                R100 000</p>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                48</p>
            </div>
            <div fxLayout="column wrap" style="padding-right:10px;background-color:#f2fafd;" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                15.30% - 29.25%</p>
            </div>
          </div>
          <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                R250 000</p>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                72</p>
            </div>
            <div fxLayout="column wrap" style="padding-right:10px;background-color:#f2fafd;" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                16.25% - 27.75%</p>
            </div>
          </div>
          <div fxLayout="row wrap" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                R500 000</p>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                84</p>
            </div>
            <div fxLayout="column wrap" style="padding-right:10px;background-color:#f2fafd;" fxLayoutAlign="start stretch" [fxShow]="true">
              <p>
                16.25% - 24.75%</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo, nisi vitae aliquam laoreet, lorem ipsum placerat nisi, at eleifend purus ante vitae libero. Integer euismod velit id felis lobortis, sed tristique risus cursus. Vivamus quis odio sed quam consequat ultrices. Ut pulvinar tellus vel sapien.</p>
          </div>
          <div fxLayout="column wrap" class="padding-10" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button routerLink="/get-estimate" class="white blue-bg">Get Estimate</button></div>
        </div>
      </mat-tab><mat-tab label="How It Works">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
      </mat-tab></mat-tab-group>
  </div>
</div>