<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
    <p class="poppins no-margin">
      Sign In to Continue</p>
    <div fxLayout="row wrap" class="poppins" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <p class="no-margin">
        Remote Pin</p>
      <p class="color-b no-margin">
        Forgot Pin</p>
    </div>
    <div fxLayout="column wrap" class="grey-btn-border" fxLayoutAlign="start stretch" [fxShow]="true">
      <form #form="ngForm" class="full-width">
        <mat-form-field class="full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.remotePin.remotePin" name="remotePin" type="{{page.visible ? &apos;text&apos; : &apos;password&apos;}}" [required]="true">
          <mat-icon matSuffix (click)="showPwd()">{{page.visible ? &apos;visibility&apos; : &apos;visibility_off&apos;}}</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div fxLayout="row wrap" class="color-b" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <p (click)="closeDialog()" class="pointer poppins no-margin">
        Cancel</p>
      <p (click)="pin(form)" class="poppins no-margin">
        Confirm</p>
    </div>
  </div>
</div>