<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="height-50px bg-blue" fxLayoutGap="30%" fxLayoutAlign="start center" [fxShow]="true"><mat-icon style="font-size: xx-large; padding-left: 6px;" class="color-w">arrow_back</mat-icon>
        <h3 class="color-w poppins">
          Add beneficiary</h3>
      </div>
    </div>
    <div fxLayout="column wrap" class="poppins" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white pointer height-60px" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/cellphone">
        <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <p class="no-margin">
              Capitec cellphone</p>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><small style="color:grey;" class="m-t-0">
              <small>Pay to Capitec client&apos;s cellphone number</small></small></div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="padding-right:10px;" class="color-b">chevron_right</mat-icon></div>
      </div>
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white pointer height-60px" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <p class="no-margin m-b-0">
              Capitec registered</p>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><span style="color:grey;" class="m-t-0">
                <small>Dstv,Telkom, Mr Price, Credit card, etc</small></span></div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="padding-right:10px;" class="color-b">chevron_right</mat-icon></div>
      </div>
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white pointer height-60px white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/logged_in_landing/bank_account">
        <div fxLayout="column wrap" class="padding-left" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <p class="no-margin">
              Bank account</p>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><span style="color:grey;" class="m-t-0">
                <small>Enter beneficiary&apos;s bank details</small></span></div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="padding-right:10px;" class="color-b">chevron_right</mat-icon></div>
      </div>
    </div>
  </div>
</div>