<div fxLayout="column wrap" class="bg-undercontruction full-height" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="bg-blue height-50px" fxLayoutAlign="space-between center" [fxShow]="true"><mat-icon class="padding-0px-15px pointer color-w" (click)="goBack()">arrow_back</mat-icon>
    <div fxLayout="column wrap" fxFlex="92" fxLayoutAlign="start center" [fxShow]="true">
      <p class="no-margin poppins color-w">
        Not right now, we busy....</p>
    </div>
  </div>
  <div fxLayout="column wrap" class="height-90 bg-undercontruction standard-width" fxLayoutAlign="center stretch" [fxShow]="true"><img imgSrc="/Web/Images/construction.svg" class="height-45 full-width"></div>
</div>