<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="box-shadow-grey bg-white padding-20px height-30" fxLayoutGap="1.5em" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" class="pic-size" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/trans_messages.jpeg" class="full-height pic-size"></div>
      <p class="poppins text-center no-margin">
        Receive all your transactional messages in the app for free</p>
    </div>
    <div fxLayout="column wrap" class="padding-0px-15px get-started-btn" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="color-w">Update</button></div>
  </div>
</div>