<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-toolbar color="warn" style=" height: 50px;     gap:21%;" class="white-text bg-blue border-b"><mat-icon routerLink="/profile">arrow_back</mat-icon>
      <p class="text-center">
        Tax Details</p>
    </mat-toolbar></div>
  <div fxLayout="column wrap" style="Background:white; border-bottom: 1.5px solid #0000007d;" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="MARGIN-LEFT: 12PX;     MARGIN-TOP: 13PX;    margin-bottom: 13px;" fxLayoutAlign="start stretch" [fxShow]="true">
      <p style="  " class="margin-5px">
        Are you liable to pay tax in South Africa ?</p>
      <p class="margin-5px">
        Yes</p>
      <p class="margin-5px">
        You liable to pay tax outside South Africa? </p>
      <p class="margin-5px">
        No</p>
      <p class="margin-5px">
        Country of Birth</p>
      <p class="margin-5px">
        South Africa</p>
    </div>
  </div>
</div>