<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-toolbar color="warn" style=" height: 50px;     gap:21%;" class="white-text bg-blue border-b"><mat-icon routerLink="/profile">arrow_back</mat-icon>
        <p class="text-center">
          Our Privacy Center</p>
      </mat-toolbar></div>
    <div fxLayout="column wrap" style="background :white;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" style="height: 188px;" class="full-width" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/image/profile-icon/privacy-icon.png" style="height: 169px; width:43"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <p class="text-center">
          Protecting your personal information is one of our top <br> priorities. We have launched a Privacy Center where <br> our personalinformation processing practices can be <br> viewed in more detail. </p>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <p class="text-center">
          <span class="font-large"><b>You Can access our Privacy Center</b></span> on <br>https://www.capitecbank.co.za/privacy-centre/
        </p>
      </div>
    </div>
  </div>
</div>