<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="bg-blue" fxLayoutAlign="space-between center" [fxShow]="true"><mat-icon style="font-size: xx-large; padding-left: 6px;" class="color-w pointer" routerLink="/home">arrow_back</mat-icon>
      <div fxLayout="column wrap" class="poppins" fxFlex="90" fxLayoutAlign="start center" [fxShow]="true">
        <p class="no-margin color-w blue-bg">
          Profile</p>
      </div>
    </div>
    <div fxLayout="column wrap" style="background:white;" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" style="  width: 95%; height: 64px; border-bottom:1px solid black; width:" fxLayoutAlign="space-between center" [fxShow]="true" *ngFor="let item of page.profile" [routerLink]="item.link">
        <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/profile-icon/{{item.icon}}" style="    width: 29px;"></div>
          <div>
            {{item.text}}
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="text-color-blue"><span class="material-symbols-outlined"> chevron_right </span></mat-icon></div>
      </div>
    </div>
  </div>
</div>