<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="padding-20px height-60" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" class="height-90" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/be_a_hero.PNG" style="width: 200px" class="height-90"><small class="x-small text-center poppins color-b no-margin">
          Show Card Details</small></div>
    </div><bh-long_card1></bh-long_card1>
  </div>
</div>